package {{package}};

import {{package}}.{{classname}}Service;

{{>generatedAnnotation}}
public interface {{classname}}ServiceFactoryIfc {
    public {{classname}}Service get{{classname}}Service();
}

