<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
    <groupId>com.ibm.mfp</groupId>
    <artifactId>{{artifactId}}</artifactId>
	<version>{{artifactVersion}}</version>
	<packaging>adapter</packaging>
	<dependencies>
		<dependency>
			<groupId>com.ibm.mfp</groupId>
			<artifactId>adapter-maven-api</artifactId>
			<scope>provided</scope>
			<version>8.0.0</version>
		</dependency>
		<dependency>
			<groupId>com.ibm.mfp</groupId>
			<artifactId>mfp-security-checks-base</artifactId>
			<version>8.0.0</version>
		</dependency>
		<dependency>
			<groupId>io.swagger</groupId>
			<artifactId>swagger-annotations</artifactId>
			<scope>provided</scope>
			<version>1.5.6</version>
		</dependency>
		<dependency>
			<groupId>org.json</groupId>
			<artifactId>json</artifactId>
			<version>20160212</version>
		</dependency>
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-annotations</artifactId>
			<version>2.7.3</version>
		</dependency>
	</dependencies>
	<properties>
		<!-- parameters for deploy mfpf adapter -->
		<mfpfUrl>http://localhost:9080/mfpadmin</mfpfUrl>
		<mfpfUser>admin</mfpfUser>
		<mfpfPassword>admin</mfpfPassword>
		<mfpfRuntime>mfp</mfpfRuntime>
	</properties>
	<build>
		<plugins>
			<plugin>
				<groupId>com.ibm.mfp</groupId>
				<artifactId>adapter-maven-plugin</artifactId>
				<version>8.0.0</version>
				<extensions>true</extensions>
			</plugin>
		</plugins>
	</build>
</project>